.patchnote-selector__search-bar {
    background-color: rgba(255, 255, 255, 0.945);
    width: 11rem;
    height: 2.2rem;
    border: none;
    border-radius: 0.8rem;
    font-family: 'Geist';
    padding-inline: 1rem;
    font-weight: 300;
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
    &::placeholder{
        font-style: italic;
    }
}

.patchnote-selector__patchnote,
.patchnote-selector__patchnote--active {
    width: 16rem;
    height: 6.78rem;
    width: 12rem;
    margin-inline: auto;
    position: relative;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
    margin-block: 1rem;
    &:hover .patchnote-selector__patchnote-image{
        opacity: 80%;
        transition: 0.1s ease-in-out;
    }
}

.patchnote-selector__patchnote-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    opacity: 45%;
}

.patchnote-selector__patchnote-title {
    width: 100%;
    padding-inline: 1rem;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}

.patchnote-selector__patchnote-date {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    font-size: 0.7rem;
    margin-bottom: 0.6rem;
    letter-spacing: 0.04rem;
}

@media (min-width: 350px) {
    .patchnote-selector__search-bar {
        width: 17rem;
        height: 2.8rem;
        border-radius: 1rem;
        padding-inline: 1.4rem;
        font-size: 0.83rem;
    }
    
    .patchnote-selector__patchnote,
    .patchnote-selector__patchnote--active {
        width: 16rem;
        height: 9rem;
    }

    .patchnote-selector__patchnote-title {
        font-size: 1.3rem;
        padding-inline: 1.4rem;
    }

    .patchnote-selector__patchnote-date {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }
}

@media (min-width: 450px) {
    .patchnote-selector__search-bar {
        width: 18rem;
        height: 2.8rem;
        border-radius: 1rem;
        padding-inline: 1.4rem;
        font-size: 0.83rem;
        margin-bottom: 0.8rem;
    }

    .patchnote-selector__patchnote,
    .patchnote-selector__patchnote--active {
        width: 20rem;
        height: 11rem;
        border-radius: 1rem;
        margin-block: 1.4rem;
    }

    .patchnote-selector__patchnote-image {
        border-radius: 1rem;
    }

    .patchnote-selector__patchnote-title {
        font-size: 1.4rem;
    }

    .patchnote-selector__patchnote-date {
        font-size: 1rem;
        letter-spacing: 0.06rem;
    }
}

@media (min-width: 767px) { // Tablets

    .patchnote-selector__search-bar {
        width: 20rem;
        margin-top: 0.2rem;
    }

    .patchnote-selector__list{
        display: flex;
        width: max-content;
        gap: 1rem;
        padding-left: 15%;
    }

    .patchnote-selector__patchnote,
    .patchnote-selector__patchnote--active {
        height: 6.78rem;
        width: 12rem;
        border-radius: 0.8rem;
        margin-block: 1rem;
        opacity: 0.7;
    }

    .patchnote-selector__patchnote--active,  .patchnote-selector__patchnote:hover {
        opacity: 1;
    }

    .patchnote-selector__patchnote-image {
        border-radius: 0.8rem;
    }

    .patchnote-selector__patchnote-title {
        padding-inline: 1rem;
        font-size: 1.1rem;
    }
    
    .patchnote-selector__patchnote-date {
        font-size: 0.8rem;
        margin-bottom: 0.6rem;
        letter-spacing: 0.04rem;
    }
}

@media (min-width: 992px) { // Laptops
    .patchnote-selector__list{
        gap: 1.4rem;
        padding-left: 20%;
    }

    .patchnote-selector__patchnote,
    .patchnote-selector__patchnote--active {
        height: 7.87rem;
        width: 14rem;
    }
}

@media (min-width: 1200px) { // Desktops
    .patchnote-selector__list{
        gap: 1.4rem;
        padding-left: 22%;
    }
}

@media (min-width: 1400px) { // Monitors
    .patchnote-selector__list{
        gap: 1.6rem;
        padding-left: 25%;
    }

    .patchnote-selector__patchnote,
    .patchnote-selector__patchnote--active {
        height: 9rem;
        width: 16rem;
    }

    .patchnote-selector__patchnote-title {
        font-size: 1.2rem;
    }
    
    .patchnote-selector__patchnote-date {
        font-size: 0.9rem;
        margin-bottom: 0.8rem;
    }
}