.donate-button {
    background-color: transparent;
    font-family: 'Troika';
    color: #ffffff;
    padding: 10px 15px;
    font-size: 0.7rem;
    border: 1px solid white;
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.28px;

    &:hover {
        background-color: #FF3C3C;
    }
}

.donate-button_top, .donate-button_bottom {
    display: block;
}

@media (min-width: 350px) {
    .donate-button {
        padding: 12px 27px;
        font-size: 14px;
    }
}

@media (min-width: 576px) {
    .donate-button {
        padding: 16px 30px;
        font-size: 16px;
    }
}

@media (min-width: 767px) {
    .donate-button {
        position: absolute;
        margin-right: 2rem;
        margin-bottom: 2rem;
        bottom: 0;
        right: 0;
    }
}

@media (min-width: 992px) {
    .donate-button {
        margin-right: 4rem;
        margin-bottom: 2rem;
    }
}

@media (min-width: 1200px) {
    .donate-button {
        margin-bottom: 3rem;
    }
}