.patchnotes-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patchnotes-page_content{
    display: flex;
    justify-content: center;
    padding-inline: 200px;
    overflow-y: hidden;
}

.patchnotes-page_title {
    margin-left: 0;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 50px;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.8rem;
}