.patchnotes-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem;
    color: #fff;
}

.patchnotes-page_content{
    width: 100%; /* Largeur maximale de la zone de contenu */
    display: flex;
    flex-direction: column; /* Empile les composants (selector et reader) verticalement */
    align-items: center;
    gap: 20px;
    overflow-y: hidden; /* Espacement entre les sections */
}

.patchnotes-page_title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
    margin-bottom: 20px; /* Espacement avec la liste */
    white-space: nowrap; /* Empêche le texte de se couper */
}