.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

// Logo

.home-main__logo {
    width: 3.8rem;
}

.home-main__logo-title {
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 0.2rem;
    letter-spacing: 0.03rem;
}

// Title

.home-main__title {
    color: #ffffff;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

// Patchnotes (news)

.home-main__patchnote-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.home-main__patchnote-card {
    height: 11.3rem;
    width: 20rem;
    border-radius: 0.8rem;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    background-color: black;
    position: relative;
    opacity: 0.7;
    transform: scale(0.9);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.home-main__patchnote-card.selected {
    opacity: 1;
    transform: scale(1);
}

.home-main__patchnote-image {
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 45%; // A AJUSTER
}

.home-main__patchnote-title {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    width: 75%;
    font-size: 1.4rem;
    font-weight: 500;
}

.home-main__patchnote-card:hover .home-main__patchnote-image {
    opacity: 80%;
    transition: 0.1s ease-in-out;
}

// .home-main__patchnotes-link {
//     text-decoration: none;
//     color: #ffffff;
//     border-bottom: 2px solid transparent; 
//     padding-bottom: 2px; 
//     transition: border-color 0.2s ease-in-out;
//     align-self: flex-end;
//     margin-top: 2rem;
// }

// .home-main__patchnotes-link:hover {
//     border-bottom: 2px solid #ffffff; 
// }

// Hide horizontal scrollbar

// .home-main__patchnote-list {
//     scrollbar-width: none;
//     -ms-overflow-style: none;
// }

// .home-main__patchnote-list::-webkit-scrollbar {
//     display: none;
// }

// @media (max-width:1024px) {

//     .home-main {
//         text-align: center;
//         margin-bottom: 1rem;
//     }

//     .home-main__title {
//         font-size: 2rem;  /* Réduction de la taille du titre */
//         margin-bottom: 1rem; /* Ajuster l'espacement sous le titre */
//     }

//     .home-main__patchnote-list {
//         margin: 0 auto; /* Centre horizontalement */
//     }

//     .home-main__patchnote-card {
//         position: relative;
//         max-width: 300px;
//         height: auto;
//     }

//     .home-main__patchnote-image {
//         width: 100%;  /* Images s'adaptent à la largeur de leur conteneur */
//         height: auto;  /* Maintenir l'aspect de l'image */
//     }

//     .home-main__patchnotes-link {
//         font-size: 1.2rem;  /* Réduire la taille de la police du lien */
//         align-self: center;  /* Centrer le lien en bas sur les tablettes */
//         margin-top: 2rem;  /* Ajouter un espacement au-dessus du lien */
//     }

// }

// @media (max-width: 768px) {

//     .home-main__patchnote-card {
//         position: relative;
//         max-width: 12.5rem;
//         min-height: 7.625rem;
//     }

//     .home-main__patchnote-title {
//         padding: 0;
//     }

// }

// @media (max-width:576px) {

//     .home-main__patchnote-list {

//         display: flex;
//         flex-direction: row;

//         gap: 3rem;

//         overflow-x: scroll;
//         scroll-snap-type: x mandatory;
//     }

//     .home-main__patchnote-card {
//         flex: 0 0 auto; /* Assurez-vous que les éléments sont de taille fixe */
//         width: 100%; /* Ajustez la largeur des cartes à 80% de la largeur du conteneur */
//         max-width: 12.5rem; /* Limite la largeur maximale des cartes */
//         min-width: 12.5rem; /* Limite la largeur minimale des cartes */
//         min-height: 7.625rem;
//         scroll-snap-align: center; /* Centrage des éléments dans le défilement */
//     }

//     .home-main__patchnote-image {
//         width: 100%;  /* Adapter les images à la largeur du conteneur */
//         height: auto;  /* Maintenir le ratio de l'image */
//     }
// }