.patchnotes-reader{
    width: 100%;
    display: flex;
    padding-left: 60px;
}



.patchnotes-reader_content{
    width: 100%;
    font-family: 'Akatab';
    overflow-y: scroll;
    // margin-right: 150px;
    padding-left: 65px;
    text-align: left;
    scrollbar-width: none;
    user-select: text;
}