.header {
    padding-block: 2rem;
    top: 0;
    padding-inline: 6.25rem;
    left: 0;
    width: 100%;
    position: relative;

    .nav {
        .nav-list {
            display: flex;
            gap: 4.563rem;
            align-items: center;
            justify-content: space-between;

            .nav-link {
                color: #ffffff;
                position: relative;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: 0.05rem;
                display: flex;
                &:hover{
                    color: #47CF73;
                }
            }

            .active:hover{
                color: #ffffff;
            }

            .active::after {
                content: '';
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -0.625rem;
                height: 0.188rem;
                background-color: white;
                width: 2.875rem;
                padding: 0 auto;
            }
        }
    }
}

.header-logo {
    width: 3.75rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-title {
    font-size: 1rem; 
    font-weight: bold; 
    margin-top: 0.5rem; 
    text-align: center;
    color: #fff; 
  }

// .hidden {
//     opacity: 0;
// }

.social-medias {
    margin-left: auto;
    display: flex;
    gap: 2.25rem;
}

.social-media {
    width: 2.5rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(195deg) brightness(106%) contrast(101%); // = #ffffff
    &:hover {
        filter: invert(68%) sepia(57%) saturate(471%) hue-rotate(86deg) brightness(91%) contrast(89%); // = #47CF73
    }
}

@media (max-width: 1024px) {

    /* Adaptation du header */
    .header {
        padding-inline: 2rem;
        padding-top: 0.5rem; /* Réduction des marges */
    }

    /* Réduction de l'espace entre les éléments de navigation */
    .nav .nav-list {
        gap: 2.5rem; /* Moins d'espace entre les liens de navigation */
    }

    /* Réduction de la taille de la police des liens */
    .nav-link {
        font-size: 1.2rem; /* Diminution de la taille de la police pour la tablette */
    }

    /* Modification de la largeur du logo */
    .header-logo {
        width: 2,8rem; /* Logo un peu plus petit sur tablette */
        margin-top: 3rem;
    }

    /* Ajustement de la taille de la police du titre */
    .logo-title {
        font-size: 0.875rem; /* Police réduite pour la tablette */
    }

    /* Disposition des icônes des réseaux sociaux */
    .social-medias {
        gap: 1.5rem; /* Moins d'espace entre les icônes */
    }

    /* Réduction de la taille des icônes sociales */
    .social-media {
        width: 2rem; /* Icônes un peu plus petites */
    }
}

@media (max-width: 768px) {

    /* Ajustement de la disposition des éléments sur les très petites tablettes */
    .header {
        padding-inline: 1.5rem; /* Réduction des marges */
    }

    /* Disposition des éléments de navigation : Empilement vertical */
    .nav .nav-list {
        flex-direction: column; /* Empiler les éléments de navigation */
        gap: 1.5rem; /* Espacement réduit */
        text-align: center; /* Centrer les liens de navigation */
    }

    /* Réduction de la taille des liens */
    .nav-link {
        font-size: 1rem; /* Réduction de la taille de la police */
    }

    /* Taille du logo */
    .header-logo {
        width: 2.5rem; /* Plus petit logo pour les petites tablettes */
    }

    /* Modification de la taille du titre du logo */
    .logo-title {
        font-size: 0.75rem; /* Plus petite police */
    }

    /* Ajustement des icônes sociales */
    .social-medias {
        gap: 1rem; /* Réduction de l'écart entre les icônes */
    }

    /* Réduction des tailles des icônes */
    .social-media {
        width: 1.8rem; /* Icônes encore plus petites */
    }
}