.header {
    background-color: #000000d0;
    padding-block: 0.8rem;
}

// Socials

.header__social-nav {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.header__social-icon {
    width: 2.3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(195deg) brightness(106%) contrast(101%); // = #ffffff

    &:hover {
        filter: invert(68%) sepia(57%) saturate(471%) hue-rotate(86deg) brightness(91%) contrast(89%); // = #47CF73
    }
}

@media (min-width: 576px) { // Smartphones

    // Socials

    .header__social-nav {
        gap: 4rem;
    }

    .header__social-icon {
        width: 2.5rem;
    }

}

@media (min-width: 768px) { // Tablets

    .header {
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 2.2rem 4rem;
        gap: 4.5rem;
    }

    // Navigation

    .header__nav-list {
        display: flex;
        gap: 2.5rem;
    }

    .header__nav-link, .header__nav-link--active {
        position: relative;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;

        &:hover {
            color: #47CF73;
        } 
    }

    .header__nav-link--active{

        &:hover {
            color: #ffffff;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -0.65rem;
            height: 0.15rem;
            background-color: #ffffff;
            width: 2.6rem;
        }
    }

    // Logo

    .header__logo-link {
        align-self: flex-end;
    }

    .header__logo {
        width: 3.5rem;
    }
    
    .header__logo-title {
        font-size: 1rem;
        font-weight: 200;
        margin-top: 0.2rem;
        letter-spacing: 0.03rem;
    }

    // Socials

    .header__social-nav {
        gap: 2.5rem;
        margin-left: auto;
    }

    .header__social-icon {
        width: 2.5rem;
    }

}

@media (min-width: 992px) { // Laptops

    .header {
        padding-inline: 5rem;
        gap: 5rem;
    }

    // Navigation

    .header__nav-list {
        gap: 2.8rem;
    }

}

@media (min-width: 1200px) { // Desktops

    .header {
        padding-inline: 10rem;
        gap: 6rem;
    }

    // Navigation

    .header__nav-list {
        gap: 3rem;
    }


    // Socials

    .header__social-nav {
        gap: 2.8rem;
    }

}

@media (min-width: 1400px) { // Monitors

    .header {
        padding-inline: 11rem;
        gap: 7rem;
    }

    // Logo

    .header__logo {
        width: 3.8rem;
    }

    .header__logo-title {
        font-size: 1.3rem;
    }

    // Navigation

    .header__nav-list {
        gap: 4rem;
    }

    .header__nav-link, .header__nav-link--active {
        font-size: 1.4rem;
    }

    .header__nav-link--active::after {
        height: 0.2rem;
        width: 3.2rem;
    }

    // Socials  

    .header__social-icon {
        width: 2.7rem;
    }

}