.footer {
    padding-block: 2.813rem;
    padding-inline: 3,4rem;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .footer {
        padding-block: 0.5rem;
        padding-inline: 3,4rem;
    }
}

@media (max-width: 768px) {
    .donate-button {
        padding: 0.5rem;
    }
}